<div class="ou-input-phone">
   <input type="text"  class="ou-input-phone-ctrl" ng-model-options="{getterSetter:true}" 
   			ng-model="getSetCountryCode" /> 
   <span> - </span> 
   <input type="text" class="ou-input-phone-ctrl" ng-model-options="{getterSetter:true}"
   			ng-model="getSetAreaCode" /> 
   <input type="text" class="ou-input-phone-ctrl" ng-model-options="{getterSetter:true}"
   			ng-model="getSetCOP" /> 
   <input type="text"  class="ou-input-phone-ctrl" ng-model-options="{getterSetter:true}"
   			ng-model="getSetLineNumber" /> 
</div> 
