.page-sidebar-wrapper {
    background-color: $sidebar-bg-color;
    z-index: 9999999;
    height: 100%;
    width: 212px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    vertical-align: top;

    &.closed {
        width: 54px;
    }

    .page-sidebar {
        background-color: $sidebar-bg-color;
        padding: 0;
        line-height: 1;

        > ul.page-sidebar-menu {
            list-style: none;
            padding: 0;
            margin: 0;

            > li {
                border-bottom: 1px solid $sidebar-submenu-bg-color;

                a {
                    height: 49px;
                    font-size: 16px;
                    color: $sidebar-font-color;
                    padding: 18px 10px 18px 18px;
                    margin: 0;

                    &.active {
                        color: $sidebar-active-font-color;
                    }

                    i {
                        width: 30px;
                    }
                }

                &.open > a {
                    color: $sidebar-active-font-color;
                    border-left: 4px solid $sidebar-active-font-color;
                    padding-left: 14px;
                }
            }

            ul {
                background-color: $sidebar-submenu-bg-color;
                padding: 9px 0;
                margin: 0;

                li {
                    a {
                        font-size: 14px;
                        color: $sidebar-submenu-font-color;
                        padding: 18px 10px 18px 40px;
                    }
                }
            }
        }
    }
}

body.dark {
    .page-sidebar {
        background-color: $dark-sidebar-bg-color;

        > ul.page-sidebar-menu {

            > li {
                border-bottom: 1px solid $dark-sidebar-submenu-bg-color;

                a {
                    color: $dark-sidebar-font-color;

                    &.active {
                        color: $dark-sidebar-active-font-color;
                    }
                }

                &.open > a {
                    color: $dark-sidebar-active-font-color;
                    border-left: 4px solid $dark-sidebar-active-font-color;
                }
            }

            ul {
                background-color: $dark-sidebar-submenu-bg-color;

                li {
                    a {
                        color: $dark-sidebar-submenu-font-color;
                    }
                }
            }
        }
    }
}
